name: Create release with static site files

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  make-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v6

      - name: Create tarball
        run: tar -czvf site.tar.gz public/

      - name: Generate tag
        id: tagger
        run: echo "tag=release-$(date +'%Y%m%d')-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tagger.outputs.tag }}
          name: Release ${{ steps.tagger.outputs.tag }}
          files: site.tar.gz
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
